.add-fruits{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom:10px;
}
.button-card{
    width: 30px;
    font-size: 17px;
    border-radius: 50%;
   background-color:#dfca40;
   color: #346E15;
   border: none;
   cursor: pointer;
   margin: 10px;
}