*{
    margin:0px;

}

.container-card{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
    justify-items: center;

}
.card{
    width: 200px;
    height: 300px;
    border: 5px solid rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    background: #FEFEFE;
box-shadow: 6px 6px 0px 6px rgba(0, 0, 0, 0.25);

}
.div-image-card{
    width: 200px;
    height: 175px;
    align-items:flex-end;
    overflow: hidden;
}
.image-card{
    display: block;
    max-width: 100%;
    height: auto;
}
.banner-zone{
    display: flex;
    flex-direction: row;
}
@media (max-width: 500px) {
    .container-card{
       display: grid;
       grid-template-columns: 1fr;
       justify-content: center;
       align-items: center;


    }

}






