.fruit-name{
    color:#749720;
display: flex;
flex-direction: column;
align-items: center;
font-size: 30px;
}
.fruit-creator{
    color:#749720;
    display: flex;
    flex-direction: column;
    align-items: center;
}