@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
.fruit-menu{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    text-decoration:none;
    margin-right: 50px;
  
    
}
.link-header{
    color:#808080;
}
a:link{
    text-decoration: none;
       
    font-size: 17px;
    
 
   border: none;
   cursor: pointer;
   margin-bottom:10px;
}
@media all and (min-width: 300px) and (max-width: 1000px){
   

    .fruit-menu{  
    display: none;
    }
}