@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
.fruit-menu{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
}